body {
    margin: 0;
    font: 'Roboto';
}

ul {
    list-style-type: none;
}

.hero-container {
    background-color: #1F2937;
    margin: 0;
}

.header {
    margin: 0;
}

.footer {
    background-color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
}

button.signup {
    background-color: #3882F6;
    color: white;
    font-family: 'Roboto';
    border-radius: 8px;
    padding: 4px 8px;
    border: none;
}

button.action {
    border: 1px solid white;
}