body {
    margin: 0;
}

ul {
    list-style-type: none;
}

.hero-container {
    background-color: #1F2937;
    margin: 0;
}

.header {
    margin: 0;
}

.footer {
    background-color: #1F2937;
}

.quote-container {
    background-color: #E5E7EB;
}