body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

.hero-container {
    background-color: #1F2937;
    margin: 0;
    color: white;
}

.header {
    margin: 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 16px 0;
}

.quote-container {
    background-color: #E5E7EB;
}

button.signup {
    background-color: #3882F6;
    color: white;
    font-family: 'Roboto';
    border-radius: 8px;
    padding: 4px 8px;
    border: none;
}

button.action {
    border: 1px solid white;
}

.padded {
    padding-right: 160px;
    padding-left: 80px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 0;
}

.header-link, .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.link-container {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

.header-link-container {
    display: flex;
    align-items: center;
}